* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/ronaldo.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 